<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:if="${uj}">Új Tennivaló</title>
<title th:unless="${uj}">Tennivaló Szerkesztése</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stilusok.css}" />

</head>
<body class="container">

  <form method="post" th:action="@{/tennivalo/}" th:object="${tennivalo}" class="jumbotron">
    <h1>Tennivaló</h1>
    <input type="hidden" th:field="*{id}">
    
    <div class="form-group">
      <label>Cím:</label>
      <input type="text" th:field="*{fejlec}" th:errorclass="mezoHiba" class="form-control" maxlength="64" />
      <span th:if="${#fields.hasErrors('fejlec')}" th:errors="*{fejlec}" class="hibauzenet"></span>  
    </div>
    <div class="form-group">
      <label>Leírás:</label> 
      <textarea th:field="*{leiras}" th:errorclass="mezoHiba" class="form-control" maxlength="20000" rows="5" />
      <span th:if="${#fields.hasErrors('leiras')}" th:errors="*{leiras}"  class="hibauzenet"></span>
    </div>
    
    <!-- legördülő mező -->
    <!-- div class="form-group">
      <label>Fontosság:</label> 
      <select th:field="*{fontossag}" class="form-control">
        <option th:each="f : ${fontossagErtekek}" th:value="${f}" th:text="#{'fontossag.' + ${f}}"></option>
      </select>
    </div-->
    
    <!-- listadoboz mező -->
    <!-- div class="form-group">
      <label>Fontosság:</label> 
      <select th:field="*{fontossag}" class="form-control" size="3">
        <option th:each="f : ${fontossagErtekek}" th:value="${f}" th:text="#{'fontossag.' + ${f}}"></option>
      </select>
    </div-->
    
    <!-- rádiógomb-csoport -->
    <div class="form-group">
      <label>Sürgősség:</label>
       
      <span th:each="f : ${fontossagErtekek}">
        <input type="radio" th:field="*{fontossag}" th:value="${f}" />
        <label th:for="${#ids.prev('fontossag')}" th:text="#{'fontossag.' + ${f}}"></label>
      </span>
    </div>
    
    <!-- dátumválasztó -->
    <div class="form-group">
      <label>Határidő:</label>
      <input type="date" th:field="*{hatarido}" min="2019-01-01" />
    </div>
    
    <div th:if="${#fields.hasErrors('global')}">   <!-- a 'globális' (nem mezőhöz köthető) hibák listája -->
      <div th:each="err : ${#fields.errors('global')}" th:text="${err}" class="hibauzenet" />
    </div>
    
    
    <button type="submit" id="letrehozas-gomb" th:if="${uj}">Létrehoz</button>
    
    <button type="submit" id="mentes-gomb" th:unless="${uj}">Módosít</button>
    <button type="submit" id="torles-gomb" th:unless="${uj}" name="akcio" value="torol">Kitöröl</button>
  </form>

</body>
</html>