<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tennivaló</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stilusok.css}" />
</head>
<body class="container">


  <form class="jumbotron">

    <h1>Tennivaló</h1>
    <input type="hidden" name="id" />
  
    <div class="form-group">
      <label>Cím:</label> 
      <input type="text" name="fejlec" class="form-control"/>
      <span class="hibauzenet kezdetben-nem-lathato">A mező kitöltése kötelező</span>  
    </div>
    <div class="form-group">
      <label>Leírás:</label>
      <textarea name="leiras" class="form-control" rows="5"></textarea>
      <span class="hibauzenet kezdetben-nem-lathato">A mező kitöltése kötelező</span> 
    </div>
    
    <div id="letoltesiHiba" class="globalisHiba kezdetben-nem-lathato">Sajnos a kapcsolódás a szerverhez sikertelen volt, kérlek próbáld újra később</div>
    <div id="mentesiHiba" class="globalisHiba kezdetben-nem-lathato">Sajnos nem sikerült rögzíteni a változtatásokat, kérlek próbáld újra később</div>
    <div id="torlesiHiba" class="globalisHiba kezdetben-nem-lathato">Sajnos nem sikerült törölni a tennivalót, kérlek próbáld újra később</div>
    <div id="nincsmegHiba" class="globalisHiba kezdetben-nem-lathato">Sajnos a tennivalót már valaki törölte, így nem lehet módosítani és törölni.</div>
    <div id="keszetNemLehetModositaniHiba" class="globalisHiba kezdetben-nem-lathato">A tennivalót valaki már készre állította, így nem lehet módosítani és törölni.</div>
    
    <button type="submit" id="letrehoz-gomb" class="kezdetben-nem-lathato btn btn-primary">Létrehoz</button>
    
    <button type="submit" id="modosit-gomb" class="kezdetben-nem-lathato btn btn-secondary">Módosít</button>
    <button type="submit" id="torol-gomb" class="kezdetben-nem-lathato btn btn-danger">Kitöröl</button>
  </form>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script th:src="@{/js/purl.js}"></script>
  <script th:src="@{/js/tennivalo-szerkesztes.js}"></script>
  
</body>
</html>