<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tennivalók</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body class="container">

  <div class="row">
    <div class="col-sm-2"></div>
    <h1 class="col-sm-8">Tennivalók listája</h1>
  </div>
  
  <div class="row">
    <div class="col-sm-2"></div>
    <table class="table col-sm-8">
      <thead class="thead-light">
        <th>Tennivaló</th>
        <th>Művelet</th>
      </thead>
      <tbody>
        <tr th:each="tennivalo: ${tennivaloLista}">
          <td>
            <div class="fejlec">
              <span th:switch="${tennivalo.fontossag.name()}">
                <i th:case="'FONTOS'" class="fa fa-fire"></i>
                <i th:case="'NORMAL'" class="fa fa-clock-o"></i>
                <i th:case="'NEM_FONTOS'" class="fa fa-thumbs-down"></i>
              </span>
              <a th:href="@{/tennivalo/{id}/(id=${tennivalo.id},nemajax=igen)}" th:text="${tennivalo.fejlec}" />
            </div>
            <div class="leiras" th:text="${tennivalo.leiras}"></div>
            <div class="letrehozasDatuma">Létrehozva: <span th:text="${#temporals.format(tennivalo.letrehozasDatuma, 'YYYY.MM.dd.')}" /></div>
            <div class="modositasDatuma">Utoljára módosítva: <span th:text="${#temporals.format(tennivalo.modositasDatuma, 'YYYY.MM.dd.')}" /></div>
            <div class="hatarido" th:if="${tennivalo.hatarido != null}">Határidő: <span th:text="${#temporals.format(tennivalo.hatarido, 'yyyy.MM.dd.')}" /></div>
          </td>
          <td>
            <form th:action="@{/tennivalo/{id}/keszreAllit(id=${tennivalo.id})}" method="post">
              <button class="btn btn-success btn-sm">Készre állít</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row">
    <div class="col-sm-2"></div>
    <a id="tennivalot-letrehoz" class="col-sm-8" th:href="@{/tennivalo/(nemajax=igen)}">Új tennivalót szeretnék írni</a>
  </div>

</body>
</html>